body {
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.app {
    display: inline-block;
    height: 100vh;
}

.temperature {
    cursor: pointer;
}

.degree-section span {
font-weight: bold;
}

.degree {
    display: inline;
}
