body {
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.app {
    display: inline-block;
    height: 100vh;
    width: 40%;
    overflow: hidden;

}

.contentBg {
    height:100vh;
    background-color: rgba(0, 0, 0, 0.336);
}

.title h1{
    margin: 0 auto auto;
}

.contentTxt{
    margin: 20% auto 0;
}

.temperature {
    cursor: pointer;
}

.degree-section span {
font-weight: bold;
}

.degree {
    display: inline;
}

.temperature-des {
    margin: 20px auto;
    font-weight: bold;
}

.clock-section span {
    font-size: 50px;
}

.clock-section h4 {
    margin: auto auto 20px auto;
    font-size: 30px;
}


